---
layout: default_empty
title: MD on Call — Practical Guide to Surviving the Night
permalink: "/promo/"
---

<header class="red-header clearfix promo-header">
	<div>
		<a class="logo"  href="/"></a>
	</div>
<!--
	<div>
		<a href="index.html" class="app-icon-small"></a>
	</div>
-->
	<div class="hidden-xs">
		<ul class="list-inline">
			<li><a href="/promo/" class="active">Mobile App</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/faq/">F.A.Q. & Support</a></li>
		</ul>
	</div>
	<div class="visible-xs pull-right nav-btn">
		<a href="#"></a>
	</div>
	<div class="mob-nav visible-xs">
		{% include mobilenav-dropdown.html %}
	</div>
</header>
<section class="promo-top clearfix">
	<div class="col-md-5">
		<h1>The ultimate application written and designed to help you survive your first nights on call.</h1>
		<p class="hidden-xs">Created to help junior residents/interns on their first nights on call. It's designed to provide you with just right amount of medical information while allowing you to stay efficient so you can go and assess the next patient on your list.</p>
		<div class="to-store">
			<a href="{{ site.appstore_url }}" class="app-store"></a>
			<a href="{{ site.google_play_url }}" class="google-play"></a>
		</div>
		<p class="visible-xs">Created to help junior residents/interns on their first nights on call. It's designed to provide you with just right amount of medical information while allowing you to stay efficient so you can go and assess the next patient on your list.</p>
	</div>
	<img src="/images/promo/1-hero-devices-big.png" class="devices-image" alt="" />
<!--
	<div class="col-sm-6 col-md-7 image-outside">
		<img src="/images/1-hero-devices-big.png" alt="" />
	</div>
-->
</section>
<section class="about-us clearfix">
	<div class="about-top">
		<h2>MD on Call has been developed to help you become a better physician.</h2>
        <p>It is meant to be a useful bedside tool, but at the same time it's written to make you think about what you're doing, and why you're doing it. Medical care is complex and has many uncertainties. MD on Call gives you the tools to help you navigate those ambiguities, but it will never replace clinical judgement.</p>
	</div>
	<div class="about-images clearfix hidden-xs">
		<div class="col-sm-4 img1">
			<img src="/images/promo/device-1-mask.png" alt=""/>
		</div>
		<div class="col-sm-4 img2">
			<img src="/images/promo/device-2-mask.png" alt=""/>
		</div>
		<div class="col-sm-4 img3">
			<img src="/images/promo/device-3-mask.png" alt=""/>
		</div>
	</div>
	<div class="why-we clearfix hidden-xs">
		<div class="col-sm-4">
			<h3>Stress.</h3>
			<p>Being on call is nerve wracking, but there’s no denying that you learn a lot during those long nights. You’re pushed into prioritizing care, assessing patients and establishing management plans on your own.</p>
		</div>
		<div class="col-sm-4">
			<h3>Communication.</h3>
			<p>In the middle of the night, you want to be efficient, write clear, concise notes to optimize safe patient care and facilitate the day team’s job the next morning.</p>
		</div>
		<div class="col-sm-4">
			<h3>Anxiety.</h3>
			<p>Decrease your anxiety by having access to useful tips and reminders. After a few rotations off service, it's good to have a quick reference at hand.</p>
		</div>
	</div>
	<div id="why-carousel" class="why-carousel carousel slide visible-xs" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="/images/promo/device-1-mask.png" alt=""/>
				<h3>Stress.</h3>
				<p>Being on call is nerve wracking, but there’s no denying that you learn a lot during those long nights. You’re pushed into prioritizing care, assessing patients and establishing management plans on your own.</p>
			</div>
			<div class="item">
				<img src="/images/promo/device-2-mask.png" alt=""/>
				<h3>Communication.</h3>
				<p>In the middle of the night, you want to be efficient, write clear, concise notes to optimize safe patient care and facilitate the day team’s job the next morning.</p>
			</div>
			<div class="item">
				<img src="/images/promo/device-3-mask.png" alt=""/>
				<h3>Anxiety.</h3>
				<p>Decrease your anxiety by having access to useful tips and reminders. After a few rotations off service, it's good to have a quick reference at hand.</p>
			</div>
		</div>
		<ol class="carousel-indicators">
			<li data-target="#why-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#why-carousel" data-slide-to="1"></li>
			<li data-target="#why-carousel" data-slide-to="2"></li>
		</ol>
	</div>
	<div class="see-one hidden-xs">
		<h3>See one, do one, teach one.</h3>
		<p>You’re at the “do one”, but this time, you’re alone. MD on Call has the steps you need to follow for the common procedures. It even has a list of what to get from the supply room so you don’t end up realizing you forgot a syringe right after you’ve put on your sterile gloves.</p>
		<img src="/images/promo/device-4-mask.png" alt=""/>
	</div>
</section>
<section class="features clearfix">
	<h2>Features</h2>
	<div role="tabpanel" class="hidden-xs features-tab">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Take notes</a></li>
			<li role="presentation"><a href="#integrate" aria-controls="integrate" role="tab" data-toggle="tab">Integration</a></li>
			<li role="presentation"><a href="#sync-notes" aria-controls="sync-notes" role="tab" data-toggle="tab">Sync notes</a></li>
			<li role="presentation"><a href="#customize" aria-controls="customize" role="tab" data-toggle="tab">Customize</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="notes">
				<img src="/images/promo/features-device1.png" alt=""/>
				<div>
					<h3>Take notes directly in the vignette.</h3>
					<p>Because not one centre or doctor does thing exactly the same. There’s still art to medicine!</p>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="integrate">
				<img src="/images/promo/features-device2.png" alt=""/>
				<div>
					<h3>Integrates with multiple apps.</h3>
					<p>Need to correct that calcium? There’s a direct link to MedCalx, the trusted medical calculator. (sold separately). Have a quick access to the references via Read by QxMD.</p>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="sync-notes">
				<img src="/images/promo/features-device3.png" alt=""/>
				<div>
					<h3>Sync notes across device.</h3>
					<p>Free sync service so your notes are available on your iPhone and iPad. (iOS only, account required)</p>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="customize">
				<img src="/images/promo/features-device4.png" alt=""/>
				<div>
					<h3>Customizable.</h3>
					<p>Reorganize the bottom tabs to suit your needs.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="features-carousel" class="features-carousel carousel slide visible-xs" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="img-outside">
					<img src="/images/promo/features-device1.png" alt=""/>
				</div>
				<h3>Take notes directly in the vignette.</h3>
				<p>Because not one centre or doctor does thing exactly the same. There’s still art to medicine!</p>
			</div>
			<div class="item">
				<div class="img-outside">
					<img src="/images/promo/features-device2.png" alt=""/>
				</div>
				<h3>Integrates with multiple apps.</h3>
				<p>Need to correct that calcium? There’s a direct link to MedCalx, the trusted medical calculator. (sold separately). Have a quick access to the references via Read by QxMD.</p>
			</div>
			<div class="item">
				<div class="img-outside">
					<img src="/images/promo/features-device3.png" alt=""/>
				</div>
				<h3>Sync notes across device.</h3>
				<p>Free sync service so your notes are available on your iPhone and iPad. (iOS only)</p>
			</div>
			<div class="item">
				<div class="img-outside">
					<img src="/images/promo/features-device4.png" alt=""/>
				</div>
				<h3>Customizable.</h3>
				<p>Reorganize the bottom tabs to suit your needs.</p>
			</div>
		</div>
		<ol class="carousel-indicators">
			<li data-target="#features-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#features-carousel" data-slide-to="1"></li>
			<li data-target="#features-carousel" data-slide-to="2"></li>
			<li data-target="#features-carousel" data-slide-to="3"></li>
		</ol>
	</div>
</section>
<section class="five-sections">
	<h2>Most vignettes contains six sections</h2>
	<div class="clearfix container">
		<div class="text-block">
			<h3>The Call</h3>
			<p>Questions to ask the person calling you and to get your mind going while you walk to the ward.</p>
		</div>
		<div class="text-block">
			<h3>Overview</h3>
			<p>Brief overview of the factors possibly contributing to the pathology / situation.</p>
		</div>
		<div class="text-block">
			<h3>Etiology</h3>
			<p>Self explanatory; possible etiologic factors for the condition.</p>
		</div>
		<div class="text-block">
			<h3>Evaluation</h3>
			<p>What to look for, and what not to forget. Written for night shifts, because that cardiac MR can wait until the morning.</p>
		</div>
		<div class="text-block">
			<h3>Management</h3>
			<p>Acute management of the condition; we’re not talking about Hb1Ac targets, but how to treat that hyperglycemia, right now.</p>
		</div>
		<div class="text-block">
			<h3>Overall</h3>
			<p>Short conclusion with important reminders when appropriate.</p>
		</div>
	</div>
</section>
<section class="first-night clearfix">
	<div class="cotainer">
		<h2>Audience</h2>
		<p>MD on Call was created to help junior residents / interns on their first nights on call. It’s designed to provide you with just the right amount of medical information while allowing you to stay efficient so you can go and assess the next patient on your list.</p>
		<a href="/the-story/" class="btn">Read on blog</a>
	</div>
</section>
<section class="story clearfix">
	<div class="about-author">
		<img src="/images/author-photo.png" alt="" />
		<p class="name">MARC-EMILE PLOURDE, MD</p>
		<p class="desc">Lead Author</p>
	</div>
	<h2>The story</h2>
	<p>I started working on MD on Call at the end of my first year of residency while I was still fresh from the steep learning curve of that demanding year. During that year, I had struggled with many little things that I never thought would be an issue:</p>
	<p class="epigraph">How do you replace calcium?<br/>
		At what point do you ask for an ECG in a patient with hypokalemia?<br/>
		“Can you come and pronounce patient in room 1004?” — How am I suppose to do that??</p>
	<p>I bought an “On Call” book, but it wasn’t “to the point” enough.</p>
	<p>I don’t want to read a book at 2AM. I just want to get things done.</p>
	<p>I also noticed that more senior resident often create a similar guide, which they photocopy and distribute to their friends. Those guides are often difficult to get a hold of and they tend to include many copyrighted material, meaning that they can’t be widely distributed.</p>
	<p>I wanted to create a better tool, and have it available to as many junior docs as possible.</p>
	<p>Benoit, a childhood friend who already had a few apps on the App Store, offered to partner with me to build an iPhone app with that material. This was the beginning of a great working relationship. Many people helped me get version 1 on the way and I’m grateful to this day that they contributed to my little project.</p>
	<p>Shortly after launch, the app was featured by Apple on the main page of the App Store and by iMedicalApps.com, the respected medical app review site.</p>
	<p>More than 25 000 people around the world now trust MD on Call and I routinely get great feedback from doctors around the world.</p>
	<p class="p-lowest">Try it.</p>
</section>
{% include footer.html %}
