<div class="dropdown-content">
    <ul>
        <li><a href="/promo/">Mobile App</a></li>
        <li><a href="/blog/">Blog</a></li>

    </ul>
    <div class="drop-store to-store">
        <a href="{{ site.appstore_url }}" class="app-store-xs"></a>
        <a href="{{ site.google_play_url }}" class="google-play-xs"></a>
    </div>
    <div class="dropdown-footer">
        <ul class="list-inline">
            <li><a href="/faq/">FAQ &amp; Support</a></li>
            <li><a href="/disclaimer/">Disclaimer</a></li>
        </ul>
    </div>
    <div class="copyright">© 2016 MD on Call</div>
</div>
