---
layout: default
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<section class="six-tips clearfix">
  <div class="">
    <h1>{{ page.title }}</h1>
    <div class="markdown">
      {{ content }}
    </div>
  </div>

  <div class="likeboxes">

    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <div class="fb-share-button" data-href="{{ post.url | prepend: site.baseurl }}" data-layout="button"></div>

  </div>


<div class="post-info clearfix">
    <div class="aut-photo">
      <img src="/images/icon.png" alt="" />
    </div>
    <div class="info">
      <p class="author-name">Equipe Alipio.digital</p>
      <p class="email-me">Tem alguma dúvida ou sugestão? Compartilhe: <a href="mailto:contato@alipiodigital.com" class="e-mail">contato@alipiodigital.com</a></p>
    </div>
  </div>

</section>

<section class="blog-main read-next">
  <p>próxima</p>
  {% for post in site.related_posts limit:3 %}
  <div>
    <a class="cover-link" href="{{ post.url | prepend: site.baseurl }}"></a>
    <h3>{{ post.title }}</h3>
    <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
    <a href="{{ post.url | prepend: site.baseurl }}">Continuar lendo &rarr;</a>
  </div>
  {% endfor %}
</section>

<section class="get-new">
  <h2>Receba as principais notícias por e-mail</h2>
  <form action="{{ site.mailchimp_action_url }}" method="post" target="_blank">
    <input type="email" name="EMAIL"  placeholder="Your e-mail address">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="{{ site.mailchimp_hidden_field_name }}" tabindex="-1" value=""></div>
    <button type="submit"  value="Subscribe" name="subscribe">Enviar</button>
  </form>
</section>
